<div class="about-list">
    {% for contributor in site.data.contributors %}
    <a href="{{ contributor.html_url }}">
        <div class="about-container">
            <li>
                <img src="{{ contributor.avatar_url }}" alt="{{ contributor.login }}" class="avatar">
                <div>
                    <b>{{ contributor.name }}</b>
                </div>
                <div>
                    {{ contributor.role }}
                </div>
                <div>
                    <span><i class="fas fa-graduation-cap"></i> {{ contributor.degree }}</span>
                </div>
                <div>
                    <span><i class="fab fa-github"></i> {{ contributor.github }}</span>
                </div>
            </li>
        </div>
    </a>
    {% endfor %}
</div>