<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="/fa/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="/favicon.png">
    <script data-goatcounter="https://kgdn.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <meta name="theme-color" content="#b71513">
    <meta name="msapplication-navbutton-color" content="#b71513">
    <meta name="apple-mobile-web-app-status-bar-style" content="#b71513">
    <meta name="keywords" content="Computer Science, Software, Web, Kieran, Gordon">
    <meta name="robots" content="noindex, nofollow" />
    {% seo %}
</head>