---
layout: default
---
{{ content }}
<ul class="post-list">
    {% for repository in site.github.public_repositories %}
    <a href="{{ repository.html_url }}">
        <div class="post-container" href="{{ repository.html_url }}">
            <li>
                {% if repository.fork %}
                <i class="fa-solid fa-code-branch"></i> - <b>{{ repository.name }}</b>
                {% else %}
                <b>{{ repository.name }}</b>
                {% endif %}
                <div>
                    {% if repository.license %}
                    <span><i class="fa-solid fa-file-code"></i> {{ repository.language }} - {{ repository.license.name
                        }}</span>
                    <span>- <i class="fa-solid fa-star"></i> {{ repository.stargazers_count }}</span>
                    {% else %}
                    <span><i class="fa fa-exclamation-triangle"></i> No license</span>
                    <span>- <i class="fa-solid fa-star"></i> {{ repository.stargazers_count }}</span>
                    {% endif %}
                </div>
            </li>
            {% if repository.description %}
            <p>{{ repository.description }}</p>
            {% else %}
            <p>No description.</p>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</ul>