@import url("fonts/roboto/roboto.css");

:root {
  --black: #000;
  --white: #fff;
  --grey: #353535;
  --dark-grey: #242424;
  --red: #ff0000;
  --blue: #0000ee;
  --link: #da622b;
}

body {
  font-family: "Roboto";
  font-weight: 100;
  background-color: var(--dark-grey);
  color: var(--white);
  margin: 0 auto;
  --link-color: var(--link);
  --link-color-visited: var(--link);
  font-size: large;
  height: 100%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header {
  padding: 1em 2em 0 2em;
  color: var(--white);
  font-weight: bold;
  margin: 0 auto;
}

header nav {
  margin: 0 auto;
  padding: 10px 0;
  text-align: right;
}

header nav li {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 0;
}

header nav h1 {
  float: left;
  margin: auto;
}

header nav img {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
  margin-top: -0.1em;
  border-radius: 50%;
}

header nav a:link {
  text-decoration: none;
  color: var(--text-color);
}

header nav a:visited {
  color: var(--text-color);
}

header nav .home {
  display: none;
}

blockquote {
  border-left: 3px solid grey;
  padding-left: 0.5em;
  margin-left: auto;
}

footer nav {
  padding: 0 2em;
  margin: 0 auto;
  text-align: center;
}

body a {
  color: var(--link-color);
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #da622b;
  margin: 1em 0;
}

.post-list a {
  color: var(--grey);
  text-decoration: none;
}

.main-content-container {
  margin: 0 auto;
  padding: 0 2em;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main-content-container h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

.highlight {
  background-color: #f5f5f5;
  padding: 0.25em;
  border-radius: 3px;
  margin: 0.25em;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-list span {
  color: grey;
}

.post-list .fork {
  color: gray;
  font-size: small;
}

.post-container {
  border-color: #FFFFFF50;
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em;
  background-color: var(--grey);
  transition: background-color 0.2s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03);
  color: var(--white);
}

.post-list :hover {
  background-color: #3c3c3c;
  transition: background-color 0.2s ease;
}

.url-button {
  background-color: var(--grey);
  color: var(--white);
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.url-button:hover {
  background-color: #3c3c3c;
  transition: background-color 0.2s ease;
}

.about-container {
  border-color: #FFFFFF50;
  border-radius: 10px;
  background-color: var(--grey);
  transition: background-color 0.2s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
  margin-bottom: 0.3em;
}

.about-container img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.about-container:hover {
  background-color: #3c3c3c;
  transition: background-color 0.2s ease;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

@media screen and (max-width: 833px) {
  header h1 {
    float: none;
    margin: 0 auto;
    padding: 0;
  }

  nav {
    float: none;
    text-align: center;
  }

  .container {
    padding: 0 10px;
  }


  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-list {
    flex-direction: column;
    align-items: center;
  }

  .about-container img {
    width: 100%;
    height: auto;
  }

  header {
    padding: 0;
    text-align: center;
    margin-top: 1em;
  }

  header nav h1 {
    display: none;
  }

  header nav img {
    display: none;
  }

  header nav .home {
    display: inline-block;
  }

  header nav {
    padding: 0;
    text-align: center;
  }

  header nav li {
    display: inline-block;
    margin: 0 auto;
  }
}